## 171 Title to Number

Given a column title as appear in an Excel sheet, return its corresponding column number.

For example:

    A -> 1
    B -> 2
    C -> 3
    ...
    Z -> 26
    AA -> 27
    AB -> 28 
    ...
Example 1:
```
Input: "A"
Output: 1
```
Example 2:
```
Input: "AB"
Output: 28
```
Example 3:
```
Input: "ZY"
Output: 701
```

In [2]:
import string

def titleToNumber(s):
    index = output = 0
    alphabets = string.ascii_uppercase
    
    for c in range(len(s)-1, -1, -1):
        n = alphabets.find(s[c]) + 1
        n = n*(26**index)
        output += n
        index += 1
        
    return output

In [3]:
print(titleToNumber('ZY'))

701

In [4]:
print(titleToNumber('AB'))

28

In [5]:
print(titleToNumber('AAA'))

703

In [10]:
def titleToNumberOpt(s):

    result = 0
    for i, v in enumerate(s[::-1]):
        #print(i, v)
        result += (26**i * (ord(v)-ord('A')+1))

    return result

In [11]:
print(titleToNumberOpt('ZY'))

701